<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
<div>
  <h1>Heading Space..</h1>
  <p>Enter Article</p>
  <input type="text" placeholder="Enter Article" /> <br /><br />
  <button type="button">Send</button>
</div>
</body>
</html>